body {
    background-color: #dadab3;
    display: grid;
    align-items: center;
}

.App {
    background-color: #dadab3;
    display: grid;
    align-items: center;
}

.app_body {
    height: 120vh;
    width: 1300px;
    background-color:lightgray;
    box-shadow: black;
    border-radius: 10px;
    display: flex;
    margin-left: 25px;
    margin-top: 10px;
    border-right: 1px solid lightgray;
}

